<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duckflew.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.duckflew.pojo.Menu">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="name" property="name" />
        <result column="iconCls" property="iconCls" />
        <result column="keepAlive" property="keepAlive" />
        <result column="requireAuth" property="requireAuth" />
        <result column="parentId" property="parentId" />
        <result column="enabled" property="enabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, url, path, component, name, iconCls, keepAlive, requireAuth, parentId, enabled
    </sql>
    <select id="getMenusByAdminId" resultMap="Menus">
        SELECT
        DISTINCT
		m1.*,
		m2.id as id2,
		m2.`name` as name2,
		m2.url as url2,
		m2.component as component2,
		m2.parentId as parentId2,
		m2.iconCls as iconCls2,
		m2.path as  path2,
		m2.keepAlive as keepAlive2,
		m2.requireAuth as requireAuth2,
		m2.enabled as enabled2
        FROM
            t_menu m1,
            t_menu m2,
            t_admin_role ar,
            t_menu_role mr
        WHERE
            m1.id=m2.parentId
        AND
            m2.id=mr.mid
        AND
            mr.rid=ar.rid
        AND
            ar.adminId=#{id}
        AND
            m2.enabled=true;
    </select>
    <resultMap id="Menus" type="cn.duckflew.pojo.Menu" extends="BaseResultMap">
        <collection property="children" ofType="cn.duckflew.pojo.Menu">
            <id column="id2" property="id" />
            <result column="url2" property="url" />
            <result column="path2" property="path" />
            <result column="component2" property="component" />
            <result column="name2" property="name" />
            <result column="iconCls2" property="iconCls" />
            <result column="keepAlive2" property="keepAlive" />
            <result column="requireAuth2" property="requireAuth" />
            <result column="parentId2" property="parentId" />
            <result column="enabled2" property="enabled" />
        </collection>
    </resultMap>

    <resultMap id="MenusWithRole" type="cn.duckflew.pojo.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="cn.duckflew.pojo.Role">
            <id column="rid" property="id"></id>
            <result column="rname" property="name"></result>
            <result column="rid" property="nameZh"></result>
        </collection>
    </resultMap>
    <select id="getMenusWithRole" resultMap="MenusWithRole">
        SELECT
	m.*,
	r.id AS rid,
	r.`name` AS rname,
	r.nameZh AS rnameZh
FROM
	t_menu m,
	t_menu_role mr,
	t_role r
WHERE
	r.id = mr.rid
	AND m.id = mr.mid
ORDER BY
	m.id
    </select>
<resultMap id="MenusTree" type="cn.duckflew.pojo.Menu" extends="BaseResultMap">
    <id column="id1" property="id"></id>
    <result column="name1" property="name"></result>
    <collection property="children" ofType="cn.duckflew.pojo.Menu">
        <id column="id2" property="id"></id>
        <result column="name2" property="name"></result>
        <collection property="children" ofType="cn.duckflew.pojo.Menu">
          <id column="id3" property="id"></id>
          <result column="name3" property="name"></result>
        </collection>
    </collection>
</resultMap>
<select id="getAllMenus" resultMap="MenusTree">
        SELECT
        distinct
	m1.id as id1,
	m1.`name` as name1,
	m2.id as id2,
	m2.`name` as name2,
	m3.id as id3,
	m3.`name` as name3
    FROM
    t_menu m1,
    t_menu m2,
    t_menu m3
    WHERE
        m2.parentId=m1.id
    AND
        m3.parentId=m2.id
    AND
        m3.enabled=TRUE
</select>
</mapper>
